@import "./normalize.css";

html {
    font-size: 62.5%;
}

img {
    width: 100%;
}

body {
    font-family: 'Crimson Text',
        serif;
    font-size: 2rem;
    line-height: 1.5;
}

/* HEADER */

header {}
