/* Footer */

/* .main-footer .container {
    display: flex;
    justify-content: center;
}

.main-footer {
    background-color: #202027;
    height: 40px;
}

.footer-nav {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}
