@import '../css/App.css';

.hero-main-section {
    display: flex;
    flex-direction: column;
    align-items: center;
   justify-content: center;
    height: 90vh;
     position: relative;
}


@media screen and (max-width: 900px) {
    
    }



.circular-text {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 51.5rem;

    animation: circularText 6s linear infinite;
}

@keyframes circularText {
    100% {
        transform: rotate(360deg);
    }
}
