@import '../css/App.css';

.home__container {
    gap: 1rem;
}

.home__content {
    grid-template-columns: .5fr 3fr;
    padding-top: 3.5rem;
    align-items: center;
}

.home__social {
    display: inline-block;
 
}

.home__social-icon {
    font-size: 1.25rem;
    color: var(--overall-color);
    padding-right: .6rem;
}

.home__social-icon:hover {
    color: var(--third-color-darker);
} 

.home__blob {
    width: 200px;
    fill: var(--overall-color);
}

.home__blob-img {
    width: 170px;
} 

.home__data {
    grid-column: 1/3;
}

.home__title {
    font-size: var(--big-font-size);
    color: var(--first-color);
}

.home__subtitle {
        font-size: var(--h3-font-size);
        color: var(--third-color);
        font-weight: var(--font-medium);
        margin-bottom: var(--mb-0-75);
}

.home__description {
    margin-bottom: var(--mb-2);
    color: var(--third-color-darker);
}

.button {
    display: inline-block;
    background-color: var(--overall-color);
    color: #000;
    padding: .5rem;
    border-radius: .5rem;
    font-weight: var(--font-medium);
    font-size: .8rem;
    margin-top: .7rem;
}

.button:hover {
    background-color: var(--darker-body-color);
    color: var(--first-color);
}

.button__icon {
    font-size: 1.25rem;
    margin-left: var(--mb-0-5);
    transition: .3s;
}

.button--flex {
    align-items: center;
    padding-top: .8rem;
}


.scrolldown {
    position: absolute;
    bottom: -60px;
    left: 50%;
    width: 30px;
    height: 30px;
    transform: translateY(-80px) translateX(-50%) rotate(45deg);

}

.scrolldown span {
    position: absolute;
    top:0;
    left: 0;
    display: block;
    width: 40%;
    height: 40%;
    border-bottom: 2px solid var(--first-color);
    border-right: 2px solid var(--first-color);
    animation: animate 1.5s linear infinite;
     opacity: 0; 
}

 .scrolldown span:nth-child(1) {
    transform: translate(-15px, -15px);
    animation-delay: -0.4s;
}

.scrolldown span:nth-child(2) {
    transform: translate(0px, 0px);
     animation-delay: -0.2s;
}

.scrolldown span:nth-child(3) {
    transform: translate(15px, 15px);
     animation-delay: 0;
}

@keyframes animate {

    0%{
      top: -5px;
      left: -5px; 
      opacity: 0; 
    }

    25% {
        top: 0px;
        left: 0px;
        opacity: 1;
    }

    100% {
        top: 5px;
        left: 5px;
        opacity: 0;
    }
} 