.navbar {
    display: flex;
    height: 80px;
    background-color: #2C2929;
    justify-content: space-between;
    align-items: center;
  
}

.nav-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;
    padding-left: 6rem;
}



@media screen and (max-width: 768px) {

}