@import '../css/App.css';

.navbar {
    display: flex;
    height: 75px;
    background-color: var(--first-color);
    justify-content: space-between;
    align-items: center;
}

.nav-logo {
    display: flex;
    align-items: center;
    padding: .5rem 0 0 5rem;
}

.nav-logo > img {
 width: 55px;
 height: 55px;
}

.fa-firstdraft {
    margin-left: 0.5rem;
    font-size: 1.6rem;
}

.nav-menu {
    display: grid;
    grid-template-columns: repeat(5, auto);
    grid-gap: 10px;
    text-align: center;
    width: 70vw;
    justify-content: end;
    margin-right: 2rem;
}

.nav-item {
    display: flex;
    align-items: center;
    height: 80px;
}

.nav-links {
    color: var(--text-color-light);
    font-size: var(--h3-font-size);
    text-decoration: none;
    padding: 0.5rem 1rem;
}

.nav-links:hover {
    color: #cbc0d3;
    transition: all 0.2s ease-out;
}

.fa-bars {
    color: var(--text-color-white);
    margin: 0 2rem 1rem 0;
}


.nav-links-mobile {
    display: none;
}

.menu-icon {
    display: none;
}

@media screen and (max-width: 960px) {

    .nav-menu {
        display: flex;
        flex-direction: column;
        width: 100%;
        height: 90vh;
        position: absolute;
        top: 80px;
        left: -100%;
        opacity: 1;
        transition: all 0.5s ease;
    }

    .nav-menu.active {
        background: #242222;
        left: 0;
        opacity: 1;
        transition: all 0.5s ease;
        z-index: 1;
    }

    .nav-links {
        text-align: center;
        padding: 2rem;
        width: 100%;
        display: table;
    }

    .nav-links:hover {
        background-color: var(--hover-bottons-color);
        border-radius: 0;
    }

    .navbar-logo {
        position: absolute;
        top: 0;
        left: 0;
        transform: translate(25%, 50%);
    }

    .menu-icon {
        display: block;
        position: absolute;
        top: 0;
        right: 0;
        transform: translate(-100%, 60%);
        font-size: 1.8rem;
        cursor: pointer;
        justify-items: center;
    }

    .fa-times {
        color: var(--text-color-white);
        font-size: 2rem;
         margin: 0 2rem 1rem 0;
    }

}