@import '../css/App.css';
@import '../css/normalize.css';

.fa-arrow-right {
    margin-left: 0.4rem;
   
}

.button-icon-1 {
    font-size: .5rem;
}

.a-links {
    color: var(--third-color);
    margin-left: .2rem;
}

.projects__container {
    overflow: initial;
}

.projects__content {
    padding: 0 3rem;
}

.projects__img {
    width: 275px;
    border-radius: .5rem;
    justify-self: center;
}

.projects__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
    color: var(--third-color);
}

.projects__description {
    margin-bottom: var(--mb-0-75);
    color: var(--third-color-darker);
}

.projects__button:hover .button__icon-1 {
    transform: translateX(.25rem);
}



