@import '../css/App.css';
@import '../css/normalize.css';

.fa-arrow-right {
    margin-left: 0.3rem;
   
}

.button-icon-1 {
    font-size: .5rem;
}

.a-links {
    color: var(--third-color);
}

.projects__container {
    overflow: initial;
}

.projects__content {
    padding: 0 1.5rem;
}

.projects__img {
    width: 265px;
    border-radius: .5rem;
    justify-self: center;
}

.projects__title {
    font-size: var(--h3-font-size);
    margin-bottom: var(--mb-0-5);
}

.projects__description {
    margin-bottom: var(--mb-0-75);
}

.projects__buttom:hover .button__icon-1 {
    transform: translateX(.25rem);
}

