@import "./normalize.css";

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}



body {
    background-color:white;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1200px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}


/* About */



/* SKILLS */
