@import "./normalize.css";

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}



body {
    background-color:white;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Small devices (portrait tablets and large phones, 600px and up) */
@media only screen and (max-width: 768px) {
    
}

/* Medium devices (landscape tablets, 768px and up) */
@media only screen and (max-width: 1200px) {
    
}

/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (min-width: 1200px) {
    
}



/* NAVBAR */

.header {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-items: center;
    height: 10vh;
    background-color: blueviolet;
    /* background-color: #2C2929; */
    padding: 0px 10px;
}


.header-logo {
    display: flex;
    align-items: center;
    font-size: 1rem;   
    
}

.header .header-logo {
padding-left: 4rem;
}

.header .header-btn {
    display: none;

}

.header .header-menu {
    display: flex;
    flex-direction: row;
    padding-right: 2rem;
    
}

.header .header-menu .item-1, .item-2, .item-3, .item-4 {
    padding-left: 2rem;
}





@media only screen and (max-width: 768px) {
        
    .header .header-logo {}

    .header .header-btn {
        display: flex;
        position: absolute;
        right: 10px;
    }

    .header .header-menu {
        flex-direction: column;
        align-items: center;
        justify-content: space-evenly;
        position: absolute;
        right: 0;
        top: 10vh;
        background-color: #c1c1c1;
        width: 100%;
        height: 90vh;
        color: #000;
    }
}




/* Hero */


/* 
.container {
    max-width: 1200px;
    margin: 0 20rem;
    padding: 0 40px;
    flex-grow: 1;
}

.title {
    font-weight: 500;
    font-size: 5rem;
    margin-bottom: 1rem;
    margin-top: 0;
}

.subtitle {
    font-weight: 500;
    font-size: 1.5rem;
    margin-bottom: 2rem;
}

/* .hero-btn {
    color: #fff;
    background-color: #B899B5;
    padding: .75rem 1.5rem;
    border-radius: 15rem;
    text-decoration: none;
    font-size: 1.1rem;
} */

/* .home-main-section .call-to-action .hero-btn {
    
    margin: -18rem;
    align-self: center;
} */

/* .hero-main-section {
    display: flex;
    align-items: stretch;
    justify-content: center;
    position: relative;
    background-color: #2C2929;

}

.hero-main-section .call-to-action { 
    display: flex;
    flex-direction: column;
    align-items: center;
    margin: 16rem;
    margin-left: 5rem;
    align-self: center;
}

.hero-main-section .call-to-action .title {
    font-family: 'Abril Fatface',
    'cursive';
    font-size: 6.5rem;
    color: #cbc0d3;
    margin: 2rem 0 2rem 0;
} */

/* .hero-main-section .call-to-action .subtitle {
    position: relative;
    font-family: 'Josefin Sans',
    sans-serif;
    margin-left: 96rem;
    font-size:8.5rem;
     transform-origin: top left;
     transform: rotate(-90deg) translateX(-100%);
     bottom: 30.5rem;
     letter-spacing: 2.3rem;
     color: #e0afa0;
     text-shadow: 3px 5px #000;
     text-align:justify;
    
    
} */
/* 
@media screen and (max-width: 900px) {
    .hero-main-section {
        justify-content: center;
    }
}


.circular-text {
    display: flex;
    position: absolute;
    align-items: center;
    margin-top: 51.5rem;
    
    animation: circularText 6s linear infinite;
}

@keyframes circularText {
    100% {
        transform: rotate(360deg);
    }
}



/* Footer */

/* .main-footer .container {
    display: flex;
    justify-content: center;
}

.main-footer {
    background-color: #202027;
    height: 40px;
}

.footer-nav {
    display: flex;
    align-items: center;
    margin-top: 1.2rem;
}

.footer-nav a {
    text-decoration: none;
    color: #fff;
}


/* About */
/*
.about-me {
    background-color: antiquewhite;
    padding: 5rem 0 1px 0;
}

.about-card-section{
    display: flex;
    border-radius: 7px;
    box-shadow: 0 0 20px 10px #eddcd2;
    overflow: hidden;
    background-color: #fff;
    color: black;
    font-size: 1.5rem;
    padding: 2rem 3rem;
    margin: -1rem 8rem 4rem 8rem;
}

.about-card-section h1, h2 {
    font-weight: 500;
    letter-spacing: 1px;
    text-align: center;
   
    
}

.about-card-section h1 {
    font-family: 'Josefin Sans',
    sans-serif;
    font-size: 3.5rem;
    text-align: left;
    padding-right: 2rem;
    padding-left: 1rem;
}

.about-card-section h2 {
    font-size: 1.8rem;
    font-family: 'Cutive Mono';
    padding-top: 8rem;
 
}


@media screen and (max-width: 825px) {
    .about-card-section {
        margin-left: 5rem;
        margin-right: 5rem;
    }
} */

/* SKILLS */
/*
.inner {
    padding-top: 20px;
}

.skills-header {
    text-align: center;
    color: #000;
    padding: 1rem;
    position: relative;
   
}

.skills-header:after {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    transform: translateX(-90%);
    height: 4px;
    width: 100px;
    background-color: #3f00b4;
    border-radius: 2px;
}

.skills-container {
display: grid;
grid-template-columns: repeat(3, 1fr);
justify-content: center;
align-items: center;
text-align: center;
grid-gap: 1rem;
padding: 1rem 80px;
font-size: 1.2rem;
}


.skills-box {
    padding: 1rem;
    color: #2C2929;
    cursor: pointer;
}

.skills-box:hover>.skills-title:after,
.skills-box:hover>.skills-title:before {
    width: 35px;

}

.skills-box:hover .skills-image{
   transform: translateY(-10px);
}

.skills-title {
    display: flex;
    flex-direction: column;
    align-items: center;
    padding: 0.5rem;
    margin-bottom: 0.5rem;
    position: relative;
}



.skills-title h3 {
    color: #000;
    margin-top: 0.5rem
}

.skills-title:after {
    content: '';
    position: absolute;
    bottom: 0;
    right: 50%;
    width: 35px;
    height: 4px;
    border-radius: 2px 0 0 2px;
    background-color: #ff1e1e;
    transition: .5s
}

.skills-title:before {
    content: '';
    position: absolute;
    bottom: 0;
    left: 50%;
    width: 35px;
    height: 4px;
    border-radius: 0 2px 2px 0;
    background-color: #a80505;
    transition: .5s
}



.skills-image:after {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 50%;
    height: 60px;
    background-color: rgba(100, 100, 100, 0.5);
    border-radius: 45px 0 0 45px ;
}

.skills-image {
width: 60px;
height: 60px;
position: relative;
border-radius: 45px;
display: flex;
justify-content: center;
align-items: center;
transition: .5s;
background-color: cadetblue;
}

.skills-icon {
    width: 50px;
    z-index: 2;
}


@media screen and (max-width:990px){
   .container {
       grid-template-columns: repeat(2, 1fr);
       padding: 2rem 50px;

   } 
}

@media screen and (max-width:650px) {
    .container {
        grid-template-columns: 1fr;
        padding: 2rem 50px;

    }
}  */