@import "./normalize.css";

html {
    font-size: 62.5%;
}

* {
    box-sizing: border-box;
    padding: 0px;
    margin: 0px;
    
}


body {
    background-color:white;
    font-family: 'Montserrat',
    sans-serif;
    font-size: 1.2rem;
    color: #fff;
    width: 100%;
    min-height: 100vh;
    overflow-x: hidden;
}

/* Colors */
:root {
--first-color: hsl(250, 4%, 17%);
--first-color-second: hsl(250, 4%, 17%);
--first-color-alt: hsl(250, 4%, 17%);
--first-color-lighter: hsl(250, 4%, 17%);
--title-color: hsl(250, 4%, 17%);
--text-color: hsl(250, 4%, 17%);
--text-color-light: hsl(250, 4%, 17%);
--input-color: hsl(250, 4%, 17%);
--body-color: hsl(250, 4%, 17%);
--container-color: hsl(250, 4%, 17%);

/* Fonts and Typography */

--body-font:







}
